.feed_card{
	min-width: 200px;
	width: 20vw;
	max-width: 20%;
	min-height: 40vh;
	height: 60vh;
	max-height: 60vh;
	background-color: black;
	color: white;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 1%;
	text-align: center;
	background-image: url("./fantasy_card_back.png");
	background-size: cover;
	background-position: center;
	border-radius: 7%;
}

.card_name{
	font-size: 1.3em;
	margin: 5% 5% 0% 5%;
	text-shadow: 0em 0em 0.3em rgba(218,115,32, 1);
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	box-shadow: 0px 0px 0.5em black;
	width: 90%;
	font-family: fantasyFontMid;
}

.card_content{
	font-size: 0.9em;
	margin: 3% 5% 5% 5%;
	overflow-y: scroll;
	padding: 1% 1% 0% 1%;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 0.2em black; 
	border-radius: 7%;
	width: 90%;
	height: 80%;
}