.sideNav {
	min-width: calc(15% - 2vw);
	width: calc(15% - 2vw);
	max-width: calc(15% - 2vw);
	max-height: calc(100% - 2vh);
	min-height: calc(100% - 2vh);
	height: calc(100% - 2vh);
	background-color: rgb(20, 20, 20);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1vh 1vw;
}