.App {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

#paperbg {
	background-image: url("./paper-background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	position: absolute;
}

.fct_container{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.fct_container_vertical{
	height: 85vh;
}

.fct_container_horizontal{
	height: 90vh;
}

.codex_feed{
	margin: 1% 5% 1% 5%;
	display: flex;
	justify-content: center;
}

.cf_vertical{
	height: 85%;
}

.cf_horizontal{
	height: 90%;
}